/* Flex -- Start */

.side-by-side {
    display: flex;
}

/* Flex -- End */

/* Margin -- Start */

/* Space Left */
.space-left-5 {
    margin-left: 5px;
}

.space-left-10 {
    margin-left: 10px;
}

.space-left-15 {
    margin-left: 15px;
}

.space-left-20 {
    margin-left: 20px;
}

.space-left-25 {
    margin-left: 25px;
}

.space-left-30 {
    margin-left: 30px;
}

.space-left-40 {
    margin-left: 40px;
}

.space-left-50 {
    margin-left: 50px;
}

.space-left-60 {
    margin-left: 60px;
}

.space-left-70 {
    margin-left: 70px;
}

.space-left-80 {
    margin-left: 80px;
}

.space-left-90 {
    margin-left: 90px;
}

.space-left-100 {
    margin-left: 100px;
}

/* Space Right */
.space-right-5 {
    margin-right: 5px;
}

.space-right-10 {
    margin-right: 10px;
}

.space-right-15 {
    margin-right: 15px;
}

.space-right-20 {
    margin-right: 20px;
}

.space-right-25 {
    margin-right: 25px;
}

.space-right-30 {
    margin-right: 30px;
}

.space-right-40 {
    margin-right: 40px;
}

.space-right-50 {
    margin-right: 50px;
}

.space-right-60 {
    margin-right: 60px;
}

.space-right-70 {
    margin-right: 70px;
}

.space-right-80 {
    margin-right: 80px;
}

.space-right-90 {
    margin-right: 90px;
}

.space-right-100 {
    margin-right: 100px;
}

/* Space Top */

.space-top-5 {
    margin-top: 5px;
}

.space-top-10 {
    margin-top: 10px;
}

.space-top-15 {
    margin-top: 15px;
}

.space-top-20 {
    margin-top: 20px;
}

.space-top-25 {
    margin-top: 25px;
}

.space-top-30 {
    margin-top: 30px;
}

.space-top-40 {
    margin-top: 40px;
}

.space-top-50 {
    margin-top: 50px;
}

.space-top-60 {
    margin-top: 60px;
}

.space-top-70 {
    margin-top: 70px;
}

.space-top-80 {
    margin-top: 80px;
}

.space-top-90 {
    margin-top: 90px;
}

.space-top-100 {
    margin-top: 100px;
}

/* Space Bottom */

.space-bottom-5 {
    margin-bottom: 5px;
}

.space-bottom-10 {
    margin-bottom: 10px;
}

.space-bottom-15 {
    margin-bottom: 15px;
}

.space-bottom-20 {
    margin-bottom: 20px;
}

.space-bottom-25 {
    margin-bottom: 25px;
}

.space-bottom-30 {
    margin-bottom: 30px;
}

.space-bottom-40 {
    margin-bottom: 40px;
}

.space-bottom-50 {
    margin-bottom: 50px;
}

.space-bottom-60 {
    margin-bottom: 60px;
}

.space-bottom-70 {
    margin-bottom: 70px;
}

.space-bottom-80 {
    margin-bottom: 80px;
}

.space-bottom-90 {
    margin-bottom: 90px;
}

.space-bottom-100 {
    margin-bottom: 100px;
}
/* Margin -- End */

/* Colors -- Start */

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

/* Colors -- End */

/* Increase Font Size -- Start */

.font-size-5 {
    font-size:5pt;
}

.font-size-10 {
    font-size:10pt;
}

.font-size-15 {
    font-size:15pt;
}

.font-size-20 {
    font-size:20pt;
}

.font-size-25 {
    font-size:25pt;
}

.font-size-30 {
    font-size:30pt;
}

.font-size-35 {
    font-size:35pt;
}

.font-size-40 {
    font-size:40pt;
}

/* Increase Font Size -- End */

/* Width */

.width-5 {
    width: 5px;
}

.width-10 {
    width: 10px;
}

.width-15 {
    width: 15px;
}

.width-20 {
    width: 20px;
}

.width-25 {
    width: 25px;
}

.width-30 {
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}